<div>
  <p>Name:</p>
  <input type="text" name="name" value="<%= @menu.name %>" placeholder="Name">
</div>
  
<div>
  <p>Price:</p>
  <input type="number" name="price" value="<%= @menu.price %>" placeholder="Price">
</div>

<div>
  <p>Description:</p>
  <textarea name="description" placeholder="Description"><%= @menu.description %></textarea>
</div>
